<nb-layout>
  <nb-layout-header fixed>
    <h4 class="header-left-container">
      <a style="text-decoration: none;" routerLink="/pages/dashboard" routerLinkActive="active">
        Clinic Engine
      </a>
    </h4>
    <div class="header-right-container">
      <nb-actions size="small">
        <nb-action [matMenuTriggerFor]="menu" nbTooltip="Create" icon="plus-outline"></nb-action>
        <mat-menu class="nb-menu" #menu="matMenu">
          <button class="nb-menu-button" mat-menu-item (click)="navTo('add-school')">
            <span class="nb-menu-item">School</span>
          </button>
          <button class="nb-menu-button" mat-menu-item (click)="navTo('add-student')">
            <span class="nb-menu-item">Student</span>
          </button>
          <button class="nb-menu-button" mat-menu-item (click)="navTo('add-assessment')">
            <span class="nb-menu-item">Assessment</span>
          </button>
        </mat-menu>
        <nb-action nbTooltip="Home" icon="home-outline" (click)="navTo('dashboard')"></nb-action>
        <nb-action>
          <button *ngIf="loggedIn" nbButton (click)="onLogout()">Logout</button>
          <button *ngIf="!loggedIn" nbButton (click)="onLogin()">Login</button>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>

