.header-right-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-left-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.header-image {
  height: 170%;
}
.header-image:hover {
  cursor: pointer;
}
