<div *ngIf="student">
  <app-student-action-card [student]="student" (studentChange)="onStudentChange($event)"></app-student-action-card>
  <nb-card>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Information">
          <app-student-info-card [student]="student"></app-student-info-card>
        </nb-tab>
        <nb-tab tabTitle="Assessments">
          <app-student-assessments [student]="student"></app-student-assessments>
        </nb-tab>
        <nb-tab tabTitle="Notes">
          <app-student-note-table [studentId]="student.id"></app-student-note-table>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>


