//@use '@angular/material' as mat;

@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

//@import '@angular/material/prebuilt-themes/indigo-pink.css';

@include nb-install() {
  @include nb-theme-global();
}

.nb-menu {
  background: white;
  border-radius: var(--button-rectangle-border-radius);
}

.nb-menu-button {
  background: white;
  border-radius: var(--button-rectangle-border-radius);
}

.nb-menu-button:hover {
  background-color: var(--color-basic-hover);
  border-color: var(--color-basic-hover);
}

.nb-menu-item {
  font-family: var(--font-family-primary);
  font-size: var(--button-medium-text-font-size);
  text-transform: var(--button-filled-text-transform);
  color: var(--color-basic-800);
  font-weight: var(--button-text-font-weight);
}
.center-flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.half-width {
  width:50%;
}
.center-flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.left-flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.submit-button{
  margin-top: 10px;
}
.span-tag {
  font-weight: bold;
  font-size: 16px;
  padding-right: 5px;
}
.span-text {
  font-weight: normal;
  font-size: 16px;
}
input {
  margin-bottom: 5px;
}
.required:after {
  content: " *";
  color: red;
}
.info-tag{
  opacity: 60%;
  margin-right: 20px;
  font-size: large;
}
.info-text {
  font-weight: 600;
  font-size: large;
}
.info-container {
  margin-bottom: 15px;
  margin-top: 15px;
}
.cancel {
  margin-left: 1rem;
}

